---
replicas: 2

existingSecret: minio-credentials

persistence:
  enabled: true
  size: 10Gi

securityContext:
  enabled: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

resources:
  requests:
    memory: 512Mi
    cpu: 250m

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
  hosts:
    - minio-api.home.arpa
  tls: []

consoleIngress:
  enabled: true
  ingressClassName: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
  hosts:
    - minio.home.arpa
  tls: []
